#mainHeading { 
    color: red;
    text-align: center;
}

body {
    margin: 8px;
    display: block;
}

.overView{
    text-align: center;
}

.funParagraph{
    color: green
}

body{
   background-color:cornsilk;
}